body {
  margin: 0;
  color: white;
  font-family: "Roboto", sans-serif;
}

/* Navigation Styles */
.container > .header-wrapper {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  background-color: white;
  color: black;
  box-shadow: 0px 13px 12px 0px rgba(89, 81, 81, 0.75);
  transition: 0.5s;
  position: fixed;
  opacity: 0.5;
}
.container > .header-wrapper:hover {
  height: 80px;
}
.container > .header-wrapper > .navigation-wrapper {
  display: flex;
  justify-content: flex-end;
}
.container > .header-wrapper > .navigation-wrapper > .nav-links {
  width: 100px;
  margin: 10px 10px 10px 10px;
  padding: 20px 10px 10px 10px;
  text-align: center;
}
.container > .header-wrapper > .navigation-wrapper > .nav-links a {
  border-top: 5px solid transparent;
  border-top: 5px solid transparent;
  margin: 5px 10px;
  padding: 10px;
  text-decoration: none;
  font-size: 1.2em;
  color: #099;
  transition: 0.5s;
}
.container > .header-wrapper > .navigation-wrapper > .nav-links a:hover {
  border-top: 5px solid #cc0;
  border-bottom: 5px solid #cc0;
  color: #4c0099;
  letter-spacing: 2px;
}

/* Logo Style */
.container>.header-wrapper>.logo{
  background-image: url('../images/Logo/Graffiti\ TZ.svg');
  width: 80px;
  height: 60px;
  margin-top: 5px;
  margin-left: 50px;
  background-repeat: no-repeat;
  background-position: center;
}